<html>
<head>
    <script src="{{url_for('static', filename='jquery-3.3.1.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet-heat.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='lora.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


</head>
<body>
    <h1>Flask + Leaflet</h1>
    <div id="llmap"></div>
    <script src="{{url_for('static', filename='lora.js')}}"></script>
</body>